*{
    border: 0;
    padding: 0;
    margin: 0;
}
#header{
    background-color: red;
    padding-bottom: 12px;
    z-index: 1 ;
}

body{
    background-color: white;
}
html{
    scroll-behavior: smooth;
}
.h1-header{
    margin-left: 20px;
    color: white;
    padding-top: 12px;
    font-size: arial;
    
}
.h3-header{
    margin-left: 90px;
    color: white;
    padding-top: 12px;
    font-size: arial;
}
.link1{
    color: white;
    text-decoration: none;
    padding-right: 20px;
}
.link2{
    color: white;
    text-decoration: none;
    padding-right: 20px;
}
.link3{
    color: white;
    text-decoration: none;
    padding-right: 20px;
}
#navegacao{
    text-align: right;
    padding-right: 20px;
    font-size: arial;
}
.section{
    background-color: red;
    padding-bottom: 12px;
    padding-top: 12px;
    margin: 0 auto;
    text-align: center;
    width: 70%;
    border-radius: 12px;
    
}

.h2-section{
    color: white;
    text-align: center;
    padding-top: 12px;
    font-size: arial;
}
#section-grid{
    padding: 10px;
    height: 10px;
    padding-bottom: 800px;
}
.section-2{
    background-color: red;
    margin: 0 auto;
    width: 70%;
    max-width: 100%;
    height: 180px;
    border-radius: 12px;
    text-align: center;
}
.grid{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr, 1fr));
    grid-column-gap: 10px;
    max-width: 90%;
    margin: 0 auto;
    padding: 10px;
}
.sub-grid{
    margin: 0 auto;
    padding: 10%;
    background-color: white;
}
.link1{
    font-weight: bold;
    font-family: arial;
}
.link1:hover{
    color: yellow;
    transition: all ease-in-out 3ms;
}
.link2{
    font-weight: bold;
    font-family: arial;
}
.link2:hover{
    color: yellow;
    transition: all ease-in-out 3ms;
}
.link3{
    font-weight: bold;
    font-family: arial;
}
.link3:hover{
    color: yellow;
    transition: all ease-in-out 3ms;
}
.img-casa{
    max-width: 100%;
}
.h2-sub-grid{
    color: red;
    font-family: arial;
    font-size: 40px;
    padding-bottom: 5px;
    padding-top: 5px;    
}
.v-valor{
    padding-bottom: 40px;
    padding-top: 20px;
    font-size: 40px;
    font-weight: bold;
}
#rodapé{
    background-color: red;
    border-radius: 12px;
}
#h2-rodapé{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: arial;
}
.p1-footer{
    color: white;
    padding-bottom: 5px;
}
.botao-acao{
    width: 90%;
    background-color: red;
    color: white;
    border-radius: 12px;
    text-decoration: none;
}
#header-2{
    background-color: red;
    text-align: center;
}
.h1-header-2{
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}
#navegacao-2{
    background-color: red;
    color: white;
    border-radius: 12px;
    width: 70%;
    height: 70%;
    margin: 0 auto;
    text-align: center;
}
.voltar{
    width: 90%;
    background-color: red;
    color: white;
    border-radius: 12px;
    text-decoration: none;
}
.h2-sub-grid-3{
color: black;
    font-family: arial;
    font-size: 40px;
    padding-bottom: 5px;
    padding-top: 5px;
    
}
.p3-grid{
    color: white;
    font-size: 40px;
}
.img-planta{
    width: 100%;
}
.img{
    width: 100%;
}
.h2-sub-grid-3{
    color: white;

}
.titulo{
    color: white;
    font-size: 40px;
}

.slider{
    margin: 0 auto;
    width: 730px;
    height: 365px;
    overflow: hidden;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img{
    width: 730px;
}

.manual-navigation{
    position: absolute;
    width: 730px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: white;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid blue;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 730px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: black;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: black;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: black;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: black;
}

.detalhes{
    font-size: 25px;
}